header(id="header" class='header')
    nav(id='header__primary--nav' class='header__primary--nav')  
        div(class="header__primary--nav-item")
            img(alt="Imagem do menu voltado para celulares"
             class="header__primary--nav-item-menu_phone_icon" 
             id="header__primary--nav-item-menu_phone_icon"
             onclick="toggleMenuMobile()"
             src="view/style/images/menu.png")         
            img(alt="Imagem de logo provisória do site codeísta, que se encontra no cabeçalho da página e ainda não possúi nenhum sentido ainda, apenas figurativa"  
             class="header__primary--nav-item-logo" 
             onclick="changeMenu('home')" 
             src="view/style/images/image_default_48.png")   
        
        span(id="header__primary--nav-title_site") 
       
        div(class="header__primary--nav-modes") 
            select(class="select_options header__primary--nav-mode" onchange="change_mode()")            
                option(id="header__primary--nav-mode_daytime" value="daytime")               
                option(id="header__primary--nav-mode_nocturnal" value="nocturnal")

            select(class="select_options header__primary--nav-language" onchange="change_language()")            
                option(id="header__primary--nav-language-pt" onclick="onload('pt-br')" selected value="pt-br" )
                option(id="header__primary--nav-language-en" onclick="onload('en-us')" value="en-us" )   

    nav(id='header__secondary--nav' class='header__secondary--nav menu__modal--phone')
        a(class="header__secondary--nav-option" 
            href="#" 
            id="header__secondary--nav-home" 
            onclick="changeMenu('home')")       
        br(class="header__secondary--nav-menu_phone_break_line" class="header__secondary--nav-option" )   

        a(class="header__secondary--nav-option" 
            href="#" 
            id="header__secondary--nav-about" 
            onclick="changeMenu('about')")            
        br(class="header__secondary--nav-menu_phone_break_line" class="header__secondary--nav-option" )   

        a(class="header__secondary--nav-option" 
            href="#" 
            id="header__secondary--nav-services"  
            onclick="changeMenu('services')")            
        br(class="header__secondary--nav-menu_phone_break_line")   

        a(class="header__secondary--nav-option"  
            href="#" 
            id="header__secondary--nav-courses" 
            onclick="changeMenu('courses')")            
        br(class="header__secondary--nav-menu_phone_break_line")   

        a(class="header__secondary--nav-option"  
            href="#" 
            id="header__secondary--nav-blog" 
            onclick="changeMenu('blog')")            
        br(class="header__secondary--nav-menu_phone_break_line")  

        a(class="header__secondary--nav-option"  
            href="#" 
            id="header__secondary--nav-portifolio"
            onclick="changeMenu('portifolio')")           
        br(class="header__secondary--nav-menu_phone_break_line") 

        a(class="header__secondary--nav-option"  
            href="#" 
            id="header__secondary--nav-faq"
            onclick="changeMenu('faq')")            
        br(class="header__secondary--nav-menu_phone_break_line")  

        div(id="header__secondary--nav-share")
            label(id="header__secondary--nav-to_share")               
            br(class="header__secondary--nav-menu_phone_break_line") 
            
            img(alt="botão de compartilhamento dos serviços do site no facebook" 
                id="header__secondary--nav-share_facebook" 
                src="view/style/images/icons/facebook_blue.svg"
                width="35")

            img(alt="botão de compartilhamento dos serviços do site no twitter" 
                id="header__secondary--nav-share_twitter" 
                src="view/style/images/icons/twitter_black.svg"
                width="35")

            img(alt="botão de compartilhamento dos serviços do site no site de relacionamentos Google Mais" 
                id="header__secondary--nav-share_google_plus" 
                src="view/style/images/icons/google_plus-red.svg"
                width="35")
        
       
