footer(class='container' id="footer" )            
    section(class='footer__section--one container')
        header
        h3
            img(alt="Imagem de logo provisória do site codeísta, que se encontra no rodapé da página e ainda não possúi nenhum sentido ainda, apenas figurativa" 
                src="view/style/images/image_default_48.png")
        div
            label(id="footer__section--one-lb_x" class="label")
            span(id="footer__section--one-y")
            br                
        footer

    section(class='footer__section--two container')
        header
        h2(id="footer__section--two-lb_contact")
        div                    
            label(id="footer__section--two-lb_phone" class="label") 
            span(id="footer__section--two-phone")
            br                

            label(id="footer__section--two-lb_email" class="label")
            span(id="footer__section--two-email")
            br

            label(id="footer__section--two-lb_business_hours" class="label")
            span(id="footer__section--two-business_hours")
            br
            
            iframe(src="https://www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2Ftecnologiaseinformacoes%2F&width=450&layout=standard&action=like&size=small&show_faces=true&share=true&height=80&appId" 
                width="450" 
                height="80" 
                style="border:none;overflow:hidden" 
                scrolling="no" 
                frameborder="0" 
                allowtransparency="true")


        footer

    section(class='footer__section--three container')
        header
        h3
        div
            label(id="footer__section--three-lb_dev" class="label") 
            span(id="footer__section--three-dev")
            br
        footer

    