span(id="header__modal--menu")
header(id="header" class='header container')
    nav(class='header__primary--nav')  
        img(class="header__menu--phone-icon" src="view/style/images/menu.png" alt="Imagem do menu voltado para celulares") 
        
        img(id="header__primary--nav-logo" src="view/style/images/image_default_48.png" alt="Imagem de logo provisória do site codeísta, que se encontra no cabeçalho da página e ainda não possúi nenhum sentido ainda, apenas figurativa")   
       
        input(id="header__primary--nav-search" type="search" name="sitesearch" placeholder="procure no site")        
      
        select(class="header__primary--nav-mode" onchange="change_mode()")            
            option(id="header__primary--nav-mode_daytime" value="daytime")               
            option(id="header__primary--nav-mode_nocturnal" value="nocturnal")

        select(class="header__primary--nav-language" onchange="change_language()")            
            option(id="header__primary--nav-language-pt" value="pt-br" onclick="onload('pt-br')" selected)
            option(id="header__primary--nav-language-en" value="en-us" onclick="onload('en-us')")   

    nav(class='header__secondary--nav header__menu--phone-hide')
        a(id="header__secondary--nav-home" class="header__secondary--nav-option" href="#" onclick="changeMenu('home')")       
        br(class="header__menu--phone-break_line" class="header__secondary--nav-option" )   

        a(id="header__secondary--nav-about" class="header__secondary--nav-option" href="#" onclick="changeMenu('about')")            
        br(class="header__menu--phone-break_line" class="header__secondary--nav-option" )   

        a(id="header__secondary--nav-services" class="header__secondary--nav-option"  href="#" onclick="changeMenu('services')")            
        br(class="header__menu--phone-break_line")   

        a(id="header__secondary--nav-courses" class="header__secondary--nav-option"  href="#" onclick="changeMenu('courses')")            
        br(class="header__menu--phone-break_line")   

        a(id="header__secondary--nav-blog" class="header__secondary--nav-option"  href="#" onclick="changeMenu('blog')")            
        br(class="header__menu--phone-break_line")  

        a(id="header__secondary--nav-portifolio" class="header__secondary--nav-option"  href="#" onclick="changeMenu('portifolio')")           
        br(class="header__menu--phone-break_line") 

        a(id="header__secondary--nav-faq" class="header__secondary--nav-option"  href="#" onclick="changeMenu('faq')")            
        br(class="header__menu--phone-break_line")  

        label(id="header__secondary--nav-to_share")               
        br(class="header__menu--phone-break_line") 
        
        img(
            id="header__secondary--nav-share_facebook" 
            alt="botão de compartilhamento dos serviços do site no facebook" 
            src="view/style/images/icons/facebook_blue.svg"
            width="35")

        img(
            id="header__secondary--nav-share_twitter" 
            alt="botão de compartilhamento dos serviços do site no twitter" 
            src="view/style/images/icons/twitter_black.svg"
            width="35")

        img(
            id="header__secondary--nav-share_google_plus" 
            alt="botão de compartilhamento dos serviços do site no site de relacionamentos Google Mais" 
            src="view/style/images/icons/google_plus-red.svg"
            width="35")
