div(class='content__home--subsection container' )
    header
        h2(id="content__home--subsection-title1")
        img(alt="imagem padr達o sem nenhum sentido definido ainda. Apenas ilustrativa" 
            class="content__home--subsection-image" 
            src="view/style/images/image_default1.jpg" 
            width="50%")        
        article(class="content__home--subsection-text")           
            p(class="content__home--subsection-text" id="content__home--subsection-text1")
        buttom(class="content__home--subsection-buttom" id="content__home--subsection-buttom1")  
    footer

div(class='content__home--subsection container')
    header
        h2(id="content__home--subsection-title2")
        article(class="content__home--subsection-text")
            p(class="content__home--subsection-text" id="content__home--subsection-text2")
        img(alt="imagem padr達o sem nenhum sentido definido ainda. Apenas ilustrativa" 
            class="content__home--subsection-image" 
            src="view/style/images/image_default2.png" 
            width="50%")                  
        buttom(class="content__home--subsection-buttom" id="content__home--subsection-buttom2")   
    footer

div(class='content__home--subsection container')
    header
        h2(id="content__home--subsection-title3")
        img(alt="imagem padr達o sem nenhum sentido definido ainda. Apenas ilustrativa" 
            class="content__home--subsection-image" 
            src="view/style/images/image_default3.png" 
            width="50%")       
        article(class="content__home--subsection-text")
            p(class="content__home--subsection-text" id="content__home--subsection-text3")
        buttom(class="content__home--subsection-buttom" id="content__home--subsection-buttom3")  
    footer

div(class='content__home--subsection container')
    header
        h2(id="content__home--subsection-title4")
        article(class="content__home--subsection-text")
            p(class="content__home--subsection-text" id="content__home--subsection-text4")              
        img(alt="imagem padr達o sem nenhum sentido definido ainda. Apenas ilustrativa" 
            class="content__home--subsection-image" 
            src="view/style/images/image_default4.jpg" 
            width="50%")      
        buttom(class="content__home--subsection-buttom" id="content__home--subsection-buttom4")           
    footer