div(class='content__home--subsection container' )
    header
        h2(id="content__home--subsection-title1" class="title-2")
        div(class='content__home--subsection-content')
            img(alt="imagem padr達o sem nenhum sentido definido ainda. Apenas ilustrativa" 
                class="content__home--subsection-image" 
                src="view/style/images/image1.jpg")        
            article(class="content__home--subsection-text")           
                p(class="content__home--subsection-text" id="content__home--subsection-text1")
                a(class="content__home--subsection-link" 
                 href="#content__services" 
                 id="content__home--subsection-link1"
                 onclick="changeMenu('services')")  
    footer

div(class='content__home--subsection container contrast')
    header
        h2(id="content__home--subsection-title2" class="title-2")
        div(class='content__home--subsection-content')
            article(class="content__home--subsection-text")
                p(class="content__home--subsection-text" id="content__home--subsection-text2")
                a(class="content__home--subsection-link" 
                 href="#content__services"                     
                 id="content__home--subsection-link2"   
                 onclick="changeMenu('services')")
            img(alt="imagem padr達o sem nenhum sentido definido ainda. Apenas ilustrativa" 
                class="content__home--subsection-image" 
                src="view/style/images/image2.png")    
    footer

div(class='content__home--subsection container')
    header
        h2(id="content__home--subsection-title3" class="title-2")
        div(class='content__home--subsection-content')
            img(alt="imagem padr達o sem nenhum sentido definido ainda. Apenas ilustrativa" 
                class="content__home--subsection-image" 
                src="view/style/images/image3.png")       
            article(class="content__home--subsection-text")
                p(class="content__home--subsection-text" id="content__home--subsection-text3")
                a(class="content__home--subsection-link" 
                 href="#content__services" 
                 id="content__home--subsection-link3"
                 onclick="changeMenu('services')")   
    footer

div(class='content__home--subsection container contrast')
    header
        h2(id="content__home--subsection-title4" class="title-2")
        div(class='content__home--subsection-content')
            article(class="content__home--subsection-text")
                p(class="content__home--subsection-text" id="content__home--subsection-text4")              
                a(class="content__home--subsection-link" 
                href="#content__services" 
                id="content__home--subsection-link4" 
                onclick="changeMenu('services')")
            img(alt="imagem padr達o sem nenhum sentido definido ainda. Apenas ilustrativa" 
                class="content__home--subsection-image" 
                src="view/style/images/image4.jpg") 
    footer